[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = {extras = ["srv"], version = "*"}
dnspython = "*"
flask-pymongo = "*"
flask-restful = "*"
python-dotenv = "*"
bcrypt = "*"
flask-jwt-extended = "*"
ipify = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
